<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user_info', user: @user_date %>

      <div class="col-md-8 offset-md-1">
       <%= render 'book_list', books: @books %>
      </div>
    </div>
  </div>
</div>
